:root {
    --primary-color: #6c63ff;
    --secondary-color: #f5f2fe;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  }
  
  body {
    margin: 60px auto;
    max-width: 800px;
    background-color: rgb(250, 246, 242);
  }
  
  h1,
  h2,
  h3 {
    text-align: center;
    margin: 0;
  }
  
  h1 {
    font-size: 90px;
  }
  
  h2 {
    font-size: 48px;
    color: rgb(248, 164, 178);
  }
  
  h3 {
    font-size: 24px;
    opacity: 0.7;
  }

  h4 {
    font-size: 40px;
  }
  
  p {
    background: var(--secondary-color);
    padding: 20px;
    border-radius: 4px;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
  }
  
  @media (max-width: 576px) { 
    .hide-mobile {
      display: none;
    }

body {
  position:relative;
  padding-top: 74px;
  font-size: 14px;
}    

h1{
font-size: 40px;
line-height: 1.5;
}

h2 {
  font-size: 25px;
  color: rgb(207, 57, 82);
  line-height: 1.5;
}

h4 {
  font-size: 20px;
}

.heading{
  font-size: 48px;
}

.heading-project {
  font-size: 15px;
}
  }


.heading{
  font-size: 96px;
  color:rgb(248, 164, 178);
}

.heading-project {
  font-size: 40px;
  color:rgb(128, 18, 37);
}

  .navigation-links {
    display: flex;
    margin-top: 40px;
    justify-content: center;
  }
  
  .navigation-links a {
    margin: 20px;
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
  }
  
  .contact-link {
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: white;
  }
  
  .about-link {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
  }
  
  .homepage-link {
    color: var(--primary-color);
    text-align: center;
    display: block;
  }
  
  .about-paragraphs {
    display: flex;
    margin: 30px 0;
  }
  
  .about-paragraphs p {
    margin: 10px;
  }
  
  .email-link {
    display: flex;
    justify-content: center;
    color: var(--primary-color);
    font-size: 28px;
    text-decoration: none;
  }
  
  .email-link:hover {
    text-decoration: underline;
    color: #8b242c;
  }
  
  .paragraph {
    font-size: 18px;
    display: block;
    margin-bottom: 40px;
  }
  .btn-primary {
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    border: none;
  }
  .btn-primary:hover {
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: #8b242c;
  }

  .name{
    color:rgb(117, 33, 47);
    font-size: 65px;
  }

  .own-name{
    font-size: 60px;
  }

  .hero {
    background: rgb(250, 246, 242);
  }

  .travel {
    margin: 65px 15px;
  }

  .picture-valencia {
    margin: 20px 80px;
    padding: 5px 10px;
    max-width: 300%;
    border-radius: 4px;
  }

  .active{
    color:rgb(117, 33, 47) !important;
    font-weight: bold;
  }

  .bg-light {
    background-color: rgb(250, 242, 245) !important;
    box-shadow: rgb(37 39 89 / 8%) 0px 8px 8px 0;
    padding: 0.5rem 1rem;
}